.container {
  width: 100%;
}


header {
  padding-top: 5rem;
}

h2 {
  color: #175D76;
  letter-spacing: 0.5rem;
}

.product-image {
  max-width: 100%;
  margin: 0rem;
}

.cart {
  list-style-type: none;

}




